<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question 10</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="button">
        <a href="/"><button type="submit">Home</button></a>
    </div>
    <div class="header_container">
        <p>10. What is the capital of Colorado?</p>
</div>
<div class="container">
<form action="/validateq10">
    <div class="Field">
        <label for="Denver">
            Denver
            </label>
        <input type="radio" id="Denver" name="callCapital" value="b"/>
    </div>
    <div class="Field">
        <label for="Aspen">
             Aspen
            </label>
        <input type="radio" id="Aspen" name="callCapital" value="c"/>
    </div>
    <div class="Field">
        <label for="Boulder">
            Boulder
            </label>
        <input type="radio" id="Boulder" name="callCapital" value="a"/>
    </div>
    <div class="button">
        <button type="submit">Submit</button>
    </div>
</form>
<h1>{{message}}</h1>
<h1>{{session.get("my_score",0)}}</h1>
</div>
</body>
</html>